[submodule "third_party/libsmacker"]
	path = third_party/libsmacker
	url = https://github.com/second-impressions/libsmacker.git
[submodule "third_party/libADLMIDI"]
	path = third_party/libADLMIDI
	url = https://github.com/second-impressions/libADLMIDI.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
